*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div ol{
    display:inline-flex;
    
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    padding: 9px;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}