*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


nav{
   border: 3px white;
   margin: 15px 50px 0px 50px ;
}

.yo{
   background-color: #0f1111;
}
a{
    text-decoration: none;
    color: inherit;
}
.yo{
    height: 60px;
}
.hi{
    display: inline;
    color: white;
    margin: 0px 72px 0px 86px;
}
.list{
    display: inline;
    font-size: 25px;
    color: orange;
   text-align: left;
}