*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.second{
    color: #541544;
    border: none;
}

.first{
    border-radius: 8px;
    font-size: 15px;
}

.sub-video video{
    max-width: 100%;
}

.luffy{
    background-color: #f5ede5;
}

.zoro{
    max-width: 480px;
}

.nami{
    color: #541544;
    font-weight: bold;
}

.nami p{
    max-width: 190px;
    font-size: 10px;
}