*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 40vh;
    background-color: aquamarine;
}

.box{
    width: 25vw;
    height: inherit;
    background-color: brown;
    color: white;
    animation-name: anime1;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-timing-function: ease-in;

}

@keyframes anime1{
    from{
        width: 25vw;
    }
    to {
        width: 100vw;
    }
}

.container2{
    width: 50vw;
    height: 50vh;
    background-color: yellowgreen;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid red;
    position: relative;
}

.box2{
    width: 20vw;
    height: 20vh;
    background-color: black;
    text-align: center;
    animation: anime2 5s ease 1s 2 forwards;
    position: absolute;
}

@keyframes anime2{
    0%{
        top: 0px;
        left: 0px;
    }

    25%{
        top: 30vh;
        left: 0px;
    }

    50%{
        top: 30vh;
        left: 30vw;
    }

    75%{
        top: 0px;
        left: 30vw;
    }

    100%{
        top: 0px;
        left: 0px;
    }
}

.container3{
    width: 50vw;
    height: 50vh;
    background-color: red;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3{
    width: 30vw;
    height: 30vh;
    background-color: yellow;
    color: rgb(3, 3, 3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

   
    transition: all 3s ease-in-out 2s;
}

.box3:hover{
    background-color: white;
}
.box3:active{
    background-color: aqua;
    width: 100%;
    height: 100%;
}