*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0px;
    padding: 5px 5px 5px 5px;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
}


ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    padding-left: 20px;
    color: white;
}

.img1{
    display: flex;
    padding-left: 20px;
}
.img2{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.img3{
    display: flex;
    padding-left: 20px;
}