*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #161617;
    position: sticky;
    top: 0px;  
    
}


ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content:space-around;
    padding: 10px 400px 10px 400px;
    
}
.headings{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}


