*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #161617;
    position: sticky;
    top: 0px;  
    
}


ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content:space-around;
    padding: 10px 400px 10px 400px;
    
}
.headings{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.iphone{
    height: 700px; 
    background-image: url('/mern-stack/images/apple/iphone.jpg');
   
}

.section2{
    position: absolute;
    top: 50px;
    left: 40%;
    color: white;
}


