*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    display: none;
}

@media only screen and (max-width: 300px){
    .container{
        background-color: aquamarine;
    }
    #box1{
        display: flex;
        color: white;
        background-color: brown;
    }
}

@media only screen and (min-width : 301px) and (max-width : 700px)  {
    .container{
        background-color:cyan;
    }
    #box2{
        display: flex;
        color: white;
        background-color: yellow;
    }
    
}

@media only screen and (min-width: 701px){
    .container{
        background-color: brown;
    }
    #box3{
        display: flex;
        color: black;
        background-color: lightseagreen;
    }
}
    

    
