
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body{
    display: flex;
    align-items: center;
    justify-content: center;
}



.box{
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    padding: 5rem;
    color: white;
    font-size: 9rem;
}