.lemon{
    /* background: #541544; */
    /* color: white; */
    /* padding-left: 5px; */
    color: #541544;
   border: none;
}
.time{
    /* border: 2px solid greenyellow; */
    border-radius: 8px;
    font-size: 15px;
    
}
.appolo video{
    max-width: 100%;
    
}
.pluto{
    background-color: #F5EDE5;
}
.pablo{
    max-width: 480px;
    
}
.tokiyo{
    color: #541544;
    font-weight: bold;
}
.tokiyo p{
    max-width: 190px;
    font-size: 10px;
}